* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

/* header  */
.title h2{
    font-size: 2.2rem;
    font-weight: 700;
    color: #3f3a64;
    line-height: 1.2;
}
.title p{
    font-size: 0.9rem;
    font-weight: 800;
    color: #7e7d7d;
}

.btn-success{
    padding: 0.8rem 3rem;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
}


/* Work  */

.work .work-info{
    display: flex;
}

.work-left,
.work-right{
    width: 48%;
}

.work-left .content p{
    color: #838383;
    line-height: 2;
    font-size: 1rem;
    padding: 20px 0px;
}

.work-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    text-align: center;
    width: 100%;
}
.item{
    padding: 30px 30px;
    background-color: white;
    font-size: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000001a;
}

.work-right .item h4 a{
    font-size: 1.4rem;
    font-weight: bold;
    color: #3f3a64;
    text-decoration: none;
}

.work-right .item h4 a:hover{
    color: green;
}

.work-right .work-list .item:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0 10px 0 #0000005c;
    transition: all 0.5s;
}

/* gallery  */

.gallery_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.gallery-item{
    position: relative;
}

.gallery-item img{
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.5rem 2rem;
    z-index: 2;
    background-color:#2f4354ad;
    opacity: 0;
}

.overlay-text{
    position: absolute;
    bottom: 2rem;
    transform: translateY(60px);
    transition: all 0.5s;
}
.gallery-item:hover .overlay-text{
    transform: translateY(0);
    transition: all 0.5s;
}

.overlay-text h4{
    font-weight: 800;
    font-size: 1.6rem;
}

.overlay-text p{
    font-size: 1.2rem;
}

.gallery-item:hover .overlay{
    opacity: 1;
}