* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

p {
    color: grey;
    font-size: 18px;
}

/* header  */
.button {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
}

.button:hover {
    color: #008030;
    /* background-color: #008030; */
    border-color: #00732c;
}

ul li {
    list-style: none;
}

.aboutUS .container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.aboutUS-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
}

.aboutUS img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUS-right img.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.aboutUS-right img.item2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.aboutUS-right img.item3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

@media screen and (max-width:767px) {
    .aboutUS-left {
        margin: 5%;
    }
}

/* header  */
header {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ffffff45;
}

.title h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #3f3a64;
    line-height: 1.2;
}

.title p {
    font-size: 0.9rem;
    font-weight: 800;
    color: #7e7d7d;
}

.btn-success {
    padding: 0.8rem 3rem;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
}

.navbar .navbar-brand i {
    font-size: 25px;
}

.navbar .navbar-brand span {
    font-size: 30px;
    font-weight: 600;
}

.navbar .navbar-brand p {
    font-weight: 600;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1;
}

header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

/* Carousel  */
.carousel-banner {
    position: relative;
}

.carousel-img img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-slider {
    width: 1440px;
    left: -165px;
    top: -102px;
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 250px;
    left: 180px;
}

.carousel-content h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    max-width: 800px;
    line-height: 1.1;
    margin-bottom: 15px;
    color: white;
}

.carousel-content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    opacity: .9;
    color: white;
    margin-bottom: 30px;
}

.carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #041529bd;
}

/* Work  */
.work {
    background-color: #f7f7f7;
}

.work-left {
    padding-top: 97px;
}

.work .work-info {
    display: flex;
    margin-bottom: 50px;
}

.work-left,
.work-right {
    width: 48%;
}

.work-left .content p {
    color: #838383;
    line-height: 1.7;
    font-size: 17px;
    padding: 15px 15px;
}

.work-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    width: 115%;
}

.item {
    padding: 35px 25px;
    background-color: white;
    font-size: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000001a;
}

.work-right .item h4 a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #3f3a64;
    text-decoration: none;
}

.work-right .item h4 a:hover {
    color: green;
}

.work-right .work-list .item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 10px 0 #0000005c;
    transition: all 0.5s;
}

/* gallery  */
.gallery_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.5rem 2rem;
    z-index: 2;
    background-color: #2f4354ad;
    opacity: 0;
}

.overlay-text {
    position: absolute;
    bottom: 2rem;
    transform: translateY(60px);
    transition: all 0.5s;
}

.gallery-item:hover .overlay-text {
    transform: translateY(0);
    transition: all 0.5s;
}

.overlay-text h4 {
    font-weight: 800;
    font-size: 1.6rem;
}

.overlay-text p {
    font-size: 1.2rem;
}

.gallery {
    background-color: #f7f7f7;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-logo {
    border-top: 1px solid #0000000d;
}

.gallery-logo img {
    padding-bottom: 80px;
}

/* Service  */
.services-info a {
    font-weight: bold;
    font-size: 20px;
    color: #3f3a64;
    text-decoration: none;
    border: 1px solid #00000005;
    border-radius: 5px;
    padding: 12px 35px;
    background-color: white;
    position: relative;
    top: -15px;
    box-shadow: 0 0 15px 0 #00000012;
}

.service-image {
    border-radius: 10px;
}

.services-info p {
    color: grey;
    font-weight: 400;
    padding: 15px 30px;
    font-size: 17px;
}

.services-info button {
    font-weight: bold;
    color: #3f3a64;
    background-color: transparent;
    border: none;
    margin-top: -20px;
    line-height: 28px;
}

.services-info a:hover {
    color: green;
}

.services-info button:hover {
    color: green;
    background-color: transparent;
}

.progress-bar {
    background-color: white;
}

.progress-bar p {
    background-color: white;
    text-align: left;
    position: relative;
}

.progress {
    height: 5px;
    margin-bottom: 5%;
}

.progress-bar p span {
    position: absolute;
    right: 0;
}

#progress .container {
    display: flex;
    /* width: 50%; */
}

.progress-left img {
    width: 100%;
}

.progress-right {
    margin-left: 5%;
}

/* Review  */
.review {
    background-color: #f7f7f7;
}

.review-des {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    gap: 30px;
}

.review-content {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
}

.review-content p {
    font-size: 18px;
    line-height: 28px;
    color: grey;
    opacity: 0.8;
    margin-bottom: 40px;
    text-align: center;
}

.review-image {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50px;
}

.review-image img {
    width: 100%;
    height: 100%;
}

.owl-stage {
    display: flex;
}

.owl-nav {
    visibility: hidden;
}

.owl-dot {
    background: transparent;
    border: none;
    border-radius: none;
}

/* .owl-theme .owl-dots .owl-dot span:hover{
    color: red;
    opacity: 1;
  } */
.review-item .owl-nav {
    text-align: center;
}

.review-item .owl-nav .owl-prev {
    margin-right: 15px;
}

.review_content p {
    font-size: 18px;
    line-height: 1.8;
    color: gray;
    width: 100%;
}

.subscribe {
    background-image: url(./images/map.png);
    background-color: #151421;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.info h3 {
    font-size: 35px;
    font-weight: 600;
}

.info p {
    color: #ffffffc4;
    font-size: 18px;
    font-weight: 400;
}

form {
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.form-group i {
    font-size: 20px;
    padding: 15px 15px;
    background-color: transparent;
    border-radius: 5px 0 0 5px;
    border: 1px solid #8080804d;
    color: gray;
}

.form-group input {
    font-size: 16px;
    padding: 14px 100px;
    background-color: transparent;
    border: 1px solid #8080804d;
    border-left: none;
    line-height: 25px;
}

.form-group button {
    padding: 10px 28px;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
}

.blog .card-group .card {
    /* display: flex; */
    margin: 3%;
    border-radius: 20px;
    overflow: hidden;
}

.card-footer {
    display: flex;
    align-items: center;
    position: relative;
}

.card-footer .footer-link {
    margin-right: 12%;
}

.card-footer .footer-date {
    margin-top: 4%;
}

.blog .title {
    text-align: center;
}

hr {
    margin: 0;
}

/* Footer  */
footer {
    background-color: #151421;
    border-top: 1px solid #ffffff30;
}

footer .navbar-brand i {
    font-size: 30px;
    font-weight: 600;
}

footer .navbar-brand span {
    font-size: 30px;
    font-weight: 600;
}

footer .navbar-brand p {
    font-weight: 600;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1;
}

.footer-list p {
    color: #808080d9;
    font-size: 18px;
    line-height: 28px;
}

.social-media a {
    color: grey;
    margin-right: 10px;
    font-size: 13px;
    transition: all 0.5s;
}

.social-media a i:hover {
    color: white;
    opacity: 1;
    transition: all 0.5s;
}

.footer-contact h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.footer-contact ul {
    list-style: none;
}

.footer-contact li p {
    color: grey;
    font-size: 18px;
    font-weight: 500;
}

.footer-contact li p a {
    text-decoration: none;
    color: grey;
    transition: all 0.5s;
}

.footer-contact li p a:hover {
    color: white;
    opacity: 1;
}

.footer-categories h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.footer-categories ul {
    list-style: none;
}

.footer-categories li p a {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.footer-categories li p a:hover {
    color: white;
    opacity: 1;
}

.footer-meta h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.footer-meta ul {
    list-style: none;
}

.footer-meta li p a {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.footer-meta li p a:hover {
    color: white;
    opacity: 1;
}

.copyRight {
    border-top: 1px solid #ffffff36;
    padding-top: 40px;
}

.copyRight p {
    color: grey;
    font-size: 18px;
}

.copyRight p a {
    font-size: 19px;
    color: green;
    transition: all 0.5s;
    text-decoration: none;
}

.copyRight p a:hover {
    color: white;
    transition: all 0.5s;
}