* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

/* header  */

header {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ffffff45;
}
.title h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #3f3a64;
  line-height: 1.2;
}
.title p {
  font-size: 0.9rem;
  font-weight: 800;
  color: #7e7d7d;
}

.btn-success {
  padding: 0.8rem 3rem;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s;
}

header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  width: 100%;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid #ffffff30;
  position: fixed;
}

.navbar {
  width: 100%;
}

.navbar .navbar-brand i {
  font-size: 25px;
}

.navbar .navbar-brand span {
  font-size: 30px;
  font-weight: 600;
}
.navbar .navbar-brand p {
  font-weight: 600;
  padding-left: 40px;
  font-size: 14px;
  line-height: 1;
}

header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  font-weight: 600;
  color: white;
}
header .navbar .navbar-nav .icon1 i {
  color: white;
  padding: 10px 12px;
  background-color: green;
  border-radius: 100%;
  margin-left: 85px;
  cursor: pointer;
}
header .navbar .navbar-nav .icon2 i {
  color: white;
  padding: 10px 12px;
  border-radius: 100%;
  margin-left: 15px;
  cursor: pointer;
}

/* Carousel  */

.carousel-banner {
  position: relative;
}

.carousel-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-prev {
  position: absolute;
  left: 87%;
  top: 90%;
  z-index: 1;
}

.slick-prev::before {
  padding: 10px 10px;
  color: #3f3a64;
  background-color: white;
  font-size: 25px;
  border-radius: 100%;
  outline: none;
  box-shadow: 0 0 15px;
  text-align: center;
  line-height: 1.4px;
}

.slick-next::before {
  padding: 10px 10px;
  color: #3f3a64;
  background-color: white;
  font-size: 25px;
  border-radius: 100%;
  outline: none;
  box-shadow: 0 0 15px;
  text-align: center;
  line-height: 1.4px;
}
.slick-next {
  position: absolute;
  right: 60px;
  top: 90%;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.carousel-content {
  position: absolute;
  top: 250px;
  left: 180px;
}

.carousel-content h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  max-width: 800px;
  line-height: 1.1;
  margin-bottom: 15px;
  color: white;
}

.carousel-content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  opacity: 0.9;
  color: white;
  margin-bottom: 30px;
}

.carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0415298a;
}
.shape {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.shape svg {
  width: 100%;
}

.shape svg path {
  fill: white;
}
/* Work  */

.work {
  background-color: #f7f7f7;
}
.work-left {
  padding-top: 97px;
}

.work .work-info {
  display: flex;
  margin-bottom: 50px;
}

.work-left,
.work-right {
  width: 48%;
}

.work-left .content p {
  color: #838383;
  line-height: 1.7;
  font-size: 17px;
  padding: 15px 15px;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  width: 115%;
}
.item {
  padding: 35px 25px;
  background-color: white;
  font-size: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #0000001a;
}

.work-right .item h4 a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #3f3a64;
  text-decoration: none;
}

.work-right .item h4 a:hover {
  color: green;
}

.work-right .work-list .item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 10px 0 #0000005c;
  transition: all 0.5s;
}

/* gallery  */

.gallery_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3.5rem 2rem;
  z-index: 2;
  background-color: #2f4354ad;
  opacity: 0;
}

.overlay-text {
  position: absolute;
  bottom: 2rem;
  transform: translateY(60px);
  transition: all 0.5s;
}
.gallery-item:hover .overlay-text {
  transform: translateY(0);
  transition: all 0.5s;
}
.gallery {
  background-color: #f7f7f7;
}

.gallery-item:hover .overlay {
  opacity: 1;
}
.gallery-logo {
  border-top: 1px solid #0000000d;
}

.gallery-logo img {
  padding-bottom: 80px;
}
.overlay-text h4 {
  font-weight: 800;
  font-size: 1.6rem;
}

.overlay-text p {
  font-size: 1.2rem;
}

/* Review  */

.review {
  background-color: #f7f7f7;
}

.review-des {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  gap: 30px;
}
.review-content {
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
}
.review-content p {
  font-size: 18px;
  line-height: 28px;
  color: grey;
  opacity: 0.8;
  margin-bottom: 40px;
  text-align: center;
}

.review-image {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
}

.review-image img {
  width: 100%;
  height: 100%;
}

.owl-stage {
  display: flex;
}

.owl-nav {
  visibility: hidden;
}
.owl-dot {
  background: transparent;
  border: none;
  border-radius: none;
}

.review-item .owl-nav {
  text-align: center;
}

.review-item .owl-nav .owl-prev {
  margin-right: 15px;
}

.review_content p {
  font-size: 18px;
  line-height: 1.8;
  color: gray;
  width: 100%;
}

/* Subcribe  */

.subscribe {
  background-image: url(./images/map.png);
  background-color: #151421;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.info h3 {
  font-size: 35px;
  font-weight: 600;
}

.info p {
  color: #ffffffc4;
  font-size: 18px;
  font-weight: 400;
}

form {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-group i {
  font-size: 20px;
  padding: 15px 15px;
  background-color: transparent;
  border-radius: 5px 0 0 5px;
  border: 1px solid #8080804d;
  color: gray;
}

.form-group input {
  font-size: 16px;
  padding: 14px 100px;
  background-color: transparent;
  border: 1px solid #8080804d;
  border-left: none;
  line-height: 25px;
}

.form-group button {
  padding: 10px 28px;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
}

